@use "../../styles/vars" as *;

.full-validation-example {
  h2 {
    margin-bottom: $margin-1;
  }
  label {
    margin-right: $margin-1 * 0.25;
  }
  input {
    margin-right: $margin-1;
    padding: $padding-1 * 0.25;
  }
  p {
    margin-bottom: $margin-2;
  }
  form {
    font: 1em sans-serif;
    max-width: 320px;
  }

  p > label {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  fieldset {
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }

  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }

  input:focus:invalid {
    box-shadow: none;
  }
}
